//- template.pug

style
     include ../styles.css
    
table.title-row
  tbody 
    tr 
      td
        div Boat Owners information
      td
        div(style='width:200px;')
          include ../yukon.svg

div.grid
  table.grid-table
    thead
      tr 
        td 
          strong.underline Owner Name
    tbody 
      each val in data
        tr 
          td #{val.OwnerName} 