CREATE SCHEMA [AirCrash]
GO
CREATE SCHEMA [Boat]
GO
CREATE SCHEMA [Burial]
GO
CREATE SCHEMA [InterpretiveSite]
GO
CREATE SCHEMA [Person]
GO
CREATE SCHEMA [Place]
GO
CREATE SCHEMA [Security]
GO
CREATE SCHEMA [YHIS]
GO
CREATE SCHEMA [YRHP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [CSW_Import_VW]
AS
SELECT        t1.YHSIId, t1.PrimaryName, t1.SiteCategories, t2.Name AS CommunityName, t1.NTSMapSheet, ROUND(t1.Latitude, 5) AS Latitude, ROUND(t1.Longitude, 5) 
                         AS Longitude, t1.CurrentUseComment AS CurrentUse, t1.YHSPastUse AS PastUse, t1.YHSThemes AS Themes, t3.FNNames, t4.Periods, 
                         ss.Description AS SiteStatus
FROM            dbo.Place AS t1 INNER JOIN
                         dbo.Community AS t2 ON t1.CommunityId = t2.Id INNER JOIN
                         dbo.CSW_Place_FirstNations_VW AS t3 ON t1.YHSIId = t3.YHSIId LEFT OUTER JOIN
                         dbo.CSW_Place_Constructions_VW AS t4 ON t1.YHSIId = t4.YHSIId LEFT OUTER JOIN
                         dbo.Site_Status_CD AS ss ON ss.Code = t1.SiteStatus
WHERE        (t1.Latitude IS NOT NULL) AND (t1.Latitude NOT LIKE '%?%') AND (t1.Latitude NOT LIKE '%°%') AND (t1.Latitude NOT LIKE '% %') AND (t1.Latitude NOT LIKE '%N%')
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [CSW_Place_Constructions_VW] AS
SELECT YHSIId, COALESCE(STUFF((select DISTINCT ',' + Period FROM [Place_ConstructionPeriods] WHERE [Place_ConstructionPeriods].PlaceId = Place.Id FOR XML PATH('')),1,1,''),'') AS Periods
FROM Place
GROUP BY YHSIId, Id
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [CSW_Place_FirstNations_VW] AS
SELECT YHSIId, COALESCE(STUFF((select DISTINCT ',' + FNName FROM Place_FNNames WHERE Place_FNNames.PlaceId = Place.Id FOR XML PATH('')),1,1,''),'') AS FNNames
FROM Place
GROUP BY YHSIId, Id
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Place_ConstructionPeriods] AS
SELECT PlaceId, 
	CASE WHEN [Type] = 1 THEN 'Pre 1895'
	WHEN [Type] = 2 THEN 'From 1896 to 1905'
	WHEN [Type] = 3 THEN 'From 1906 to 1939'
	WHEN [Type] = 4 THEN 'From 1940 to 1965'
	WHEN [Type] = 5 THEN 'Post 1965'
END AS Period
FROM ConstructionPeriod
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Place_FNNames] AS
select PlaceId, Description AS FNName
FROM FirstNationAssociation 
INNER JOIN FirstNation ON FirstNationAssociation.FirstNationId = FirstNation.Id
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Prod_Photos]
AS
SELECT        Id, OriginalFileName, FeatureName, YHSIRecord, IsComplete, PhotoProjectId, OriginalMediaId, CommunityId, PlaceId, OwnerId, Subjects
FROM            dbo.Photo
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Register_Description] AS

  SELECT
  Description.Id,
  Description.PlaceId,
  Description.Type,
  Description.DescriptionText AS Description
  FROM Description INNER JOIN Place ON Description.PlaceId = Place.Id
WHERE Place.ShowInRegister = 1
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Register_Place]
AS
SELECT        dbo.Place.Id, dbo.Place.PrimaryName AS Name, '' AS Address, CASE WHEN Community.Name = 'None' THEN 'Other Locations' ELSE Community.Name END AS City, dbo.Place.Latitude AS LatitudeWrong, 
                         dbo.Place.Longitude AS LongitudeWrong, dbo.Place.BuildingSize, dbo.Place.ConditionComment, dbo.Place.CurrentUseComment, dbo.Place.YHSPastUse, dbo.Place.LocationContext, 
                         CP.Type AS ConstructionPeriodCode, dbo.Place.RecognitionDate, dbo.Place.Designations
FROM            dbo.Place LEFT OUTER JOIN
                             (SELECT        PlaceId, MIN(Type) AS Type
                               FROM            dbo.ConstructionPeriod
                               GROUP BY PlaceId) AS CP ON dbo.Place.Id = CP.PlaceId LEFT OUTER JOIN
                         dbo.Community ON dbo.Place.CommunityId = dbo.Community.Id
WHERE        (dbo.Place.ShowInRegister = 1)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  VIEW [User_CSW_Import_VW] AS 
SELECT YHSIId, PrimaryName, NTSMapSheet, SUBSTRING(NTSMapSheet,0,5) NTS250,Latitude, Longitude,

MAX(CASE WHEN t=1 AND d=1 THEN 1 ELSE 0 END) CTFN_1,
MAX(CASE WHEN t=2 AND d=1 THEN 1 ELSE 0 END) CTFN_2,

MAX(CASE WHEN t=1 AND d=2 THEN 1 ELSE 0 END) CAFN_1,
MAX(CASE WHEN t=2 AND d=2 THEN 1 ELSE 0 END) CAFN_2,

MAX(CASE WHEN t=1 AND d=3 THEN 1 ELSE 0 END) KDN_1,
MAX(CASE WHEN t=2 AND d=3 THEN 1 ELSE 0 END) KDN_2,

MAX(CASE WHEN t=1 AND d=4 THEN 1 ELSE 0 END) KLU_1,
MAX(CASE WHEN t=2 AND d=4 THEN 1 ELSE 0 END) KLU_2,

MAX(CASE WHEN t=1 AND d=5 THEN 1 ELSE 0 END) KDFN_1,
MAX(CASE WHEN t=2 AND d=5 THEN 1 ELSE 0 END) KDFN_2,

MAX(CASE WHEN t=1 AND d=6 THEN 1 ELSE 0 END) LFN_1,
MAX(CASE WHEN t=2 AND d=6 THEN 1 ELSE 0 END) LFN_2,

MAX(CASE WHEN t=1 AND d=7 THEN 1 ELSE 0 END) LSCFN_1,
MAX(CASE WHEN t=2 AND d=7 THEN 1 ELSE 0 END) LSCFN_2,

MAX(CASE WHEN t=1 AND d=8 THEN 1 ELSE 0 END) NCND_1,
MAX(CASE WHEN t=2 AND d=8 THEN 1 ELSE 0 END) NCND_2,

MAX(CASE WHEN t=1 AND d=9 THEN 1 ELSE 0 END) RRD_1,
MAX(CASE WHEN t=2 AND d=9 THEN 1 ELSE 0 END) RRD_2,

MAX(CASE WHEN t=1 AND d=10 THEN 1 ELSE 0 END) SFN_1,
MAX(CASE WHEN t=2 AND d=10 THEN 1 ELSE 0 END) SFN_2,

MAX(CASE WHEN t=1 AND d=11 THEN 1 ELSE 0 END) TK_1,
MAX(CASE WHEN t=2 AND d=11 THEN 1 ELSE 0 END) TK_2,

MAX(CASE WHEN t=1 AND d=12 THEN 1 ELSE 0 END) TTFN_1,
MAX(CASE WHEN t=2 AND d=12 THEN 1 ELSE 0 END) TTFN_2,

MAX(CASE WHEN t=1 AND d=13 THEN 1 ELSE 0 END) TH_1,
MAX(CASE WHEN t=2 AND d=13 THEN 1 ELSE 0 END) TH_2,

MAX(CASE WHEN t=1 AND d=14 THEN 1 ELSE 0 END) VG_1,
MAX(CASE WHEN t=2 AND d=14 THEN 1 ELSE 0 END) VG_2,

MAX(CASE WHEN t=1 AND d=15 THEN 1 ELSE 0 END) WR_1,
MAX(CASE WHEN t=2 AND d=15 THEN 1 ELSE 0 END) WR_2,

MAX(CASE WHEN t=1 AND d=16 THEN 1 ELSE 0 END) INU_1,
MAX(CASE WHEN t=2 AND d=16 THEN 1 ELSE 0 END) INU_2

FROM (
SELECT DISTINCT p.YHSIId, p.PrimaryName, p.NTSMapSheet, a.FirstNationAssociationType t, a.FirstNationId d, p.Latitude, p.Longitude
FROM dbo.Place p 
INNER JOIN dbo.FirstNationAssociation a ON (p.Id = a.PlaceId)
INNER JOIN dbo.FirstNation f ON (a.FirstNationId = f.Id)
) a -- WHERE YHSIId = '105D/08/011'
GROUP BY YHSIId, PrimaryName, NTSMapSheet, Latitude, Longitude
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [vAircrash]
    AS

SELECT yacsinumber, crashdate, aircrafttype, aircraftregistration, nation, militarycivilian, crashlocation, remainsonsite
     , extentofremainsonsite, otherlocationsofremains, pilot, fatalities, descriptionofcrashevent, comments, significanceofaircraft
     , sources, photographs, inyukon, soulsonboard, injuries, datedescriptor, datenote, pilotlastname, pilotfirstname, pilotrank
     , accuracy, aircraftcaption, aircraftaftercrashcaption, [location].ToString() as Location,[location].Lat as lat,[location].Long as long FROM AirCrash.AirCrash
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [YHSI_CSW_Import_VW]
AS
select 
	distinct YHSIId, PrimaryName, SiteCategories, CommunityName, NTSMapSheet, Latitude, 
				Longitude, Condition, CurrentUse, PastUse, 
				Themes, FNNames, Periods, SiteStatus, PlaceDescription, CulturalHistory, LastVisitedDate, LastVisitedBy,
				RecordUpdateDate, RecordUpdateBy
from (
SELECT     t1.Id, t1.YHSIId, t1.PrimaryName, t1.SiteCategories, t2.Name AS CommunityName, t1.NTSMapSheet, ROUND(t1.Latitude, 5) AS Latitude, 
				ROUND(t1.Longitude, 5) AS Longitude, t1.ConditionComment as Condition, t1.CurrentUseComment AS CurrentUse, t1.YHSPastUse AS PastUse, 
				t1.YHSThemes AS Themes, t3.FNNames, t4.Periods, ss.Description AS SiteStatus
FROM         dbo.Place AS t1 
	LEFT JOIN dbo.Community AS t2 ON t1.CommunityId = t2.Id 
	INNER JOIN dbo.CSW_Place_FirstNations_VW AS t3 ON t1.YHSIId = t3.YHSIId 
	LEFT OUTER JOIN dbo.CSW_Place_Constructions_VW AS t4 ON t1.YHSIId = t4.YHSIId 
	LEFT OUTER JOIN dbo.Site_Status_CD AS ss ON ss.Code = t1.SiteStatus
WHERE (t1.Latitude IS NOT NULL) AND (t1.Latitude NOT LIKE '%?%') AND (t1.Latitude NOT LIKE '%°%') 
	AND (t1.Latitude NOT LIKE '% %') AND (t1.Latitude NOT LIKE '%N%') AND (TRY_PARSE(t1.Longitude AS FLOAT) IS NOT NULL)
	AND (TRY_PARSE(t1.Latitude AS FLOAT) IS NOT NULL)
) s1 LEFT JOIN (
	SELECT PlaceId, DescriptionText as 'PlaceDescription'  from dbo.description where [Type] = '5'  
) s2 ON s1.Id = s2.PlaceId LEFT JOIN (
	SELECT PlaceId, DescriptionText as 'CulturalHistory'  from dbo.description where [Type] = '12'  
) s3 ON s1.Id = s3.PlaceId LEFT JOIN (
	SELECT t.PlaceId, max_date as LastVisitedDate, t.RevisedBy as LastVisitedBy from
		dbo.RevisionLog t
		INNER JOIN
		(SELECT PlaceId,MAX(RevisionDate) as max_date
		from dbo.RevisionLog
		where RevisionLogType=5
		group by PlaceId) a
		on a.PlaceId = t.PlaceId and a.max_date = RevisionDate
) s4 on s1.ID = s4.PlaceId LEFT JOIN (
	SELECT t.PlaceId, max_date as RecordUpdateDate, t.RevisedBy as RecordUpdateBy from
		dbo.RevisionLog t
		INNER JOIN
		(SELECT PlaceId,MAX(RevisionDate) as max_date
		from dbo.RevisionLog
		where RevisionLogType=2
		group by PlaceId) a
		on a.PlaceId = t.PlaceId and a.max_date = RevisionDate
) s5 on s1.ID = s5.PlaceId
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Aircrash_CSW_Import_View]
    AS

SELECT yacsinumber, crashdate, aircrafttype, aircraftregistration, nation, militarycivilian, crashlocation, pilot, descriptionofcrashevent, accuracy,  [location].ToString() as Location,[location].Lat as lat,[location].Long as long FROM AirCrash.AirCrash
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [Photo]
AS
SELECT  Photo.*
FROM  dbo.Photo INNER JOIN dbo.Place ON dbo.Photo.PlaceId = dbo.Place.Id
WHERE (dbo.Place.ShowInRegister = 1) AND Photo.ShowInRegister = 1
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  create view [PlaceConstruction] AS
SELECT PlaceId, 
	CASE WHEN [Type] = 1 THEN 'Pre 1895'
	WHEN [Type] = 2 THEN 'From 1896 to 1905'
	WHEN [Type] = 3 THEN 'From 1906 to 1939'
	WHEN [Type] = 4 THEN 'From 1940 to 1965'
	WHEN [Type] = 5 THEN 'Post 1965'
END AS Period, 
	CASE WHEN [Type] = 1 THEN 'Avant 1895'
	WHEN [Type] = 2 THEN 'Entre 1896 et 1905'
	WHEN [Type] = 3 THEN 'Entre 1906 et 1939'
	WHEN [Type] = 4 THEN 'Entre 1940 et 1965'
	WHEN [Type] = 5 THEN 'Après 1965'
END AS FR_Period
FROM ConstructionPeriod 
 INNER JOIN Place ON Place.id = ConstructionPeriod.PlaceId AND Place.ShowInRegister = 1
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [PlaceDescriptions]
AS
SELECT   dbo.Description.Id, dbo.Description.PlaceId, dbo.Description.Type, dbo.Description.DescriptionText AS Description, dbo.Description.FR_DescriptionText
FROM         dbo.Description INNER JOIN
                         dbo.Place ON dbo.Description.PlaceId = dbo.Place.Id
WHERE     (dbo.Place.ShowInRegister = 1)
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [PlaceEnglish] AS 
  SELECT dbo.Place.Id, dbo.Place.PrimaryName, dbo.Place.YHSIId, dbo.Community.Name AS CommunityName, dbo.Place.Latitude, dbo.Place.Longitude, dbo.Place.Designations, dbo.Place.RecognitionDate
  FROM   dbo.Place INNER JOIN dbo.Community ON dbo.Place.CommunityId = dbo.Community.Id
  WHERE  dbo.Place.ShowInRegister = 1;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [PlaceFrench] AS 
  SELECT dbo.Place.Id, dbo.Place.FR_PrimaryName as PrimaryName, dbo.Place.YHSIId, dbo.Community.FR_Name AS CommunityName, dbo.Place.Latitude, dbo.Place.Longitude, dbo.Place.FR_Designations AS Designations, dbo.Place.RecognitionDate
  FROM   dbo.Place INNER JOIN dbo.Community ON dbo.Place.CommunityId = dbo.Community.Id
  WHERE  dbo.Place.ShowInRegister = 1;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Select rows from a Table or View '[Photo]' in schema '[dbo]'
CREATE VIEW [PrimaryPhoto] as
SELECT PlaceId, RowID
FROM [dbo].[Photo]
WHERE YRHPOrder = 1;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- CREATE SCHEMA YRHP
CREATE VIEW [YRHPSites] AS 
SELECT DBO.Place.PrimaryName, DBO.Community.Name as Community
      ,dbo.place.YHSIId
      ,dbo.place.Latitude
      ,dbo.place.Longitude
      ,dbo.place.Designations
      ,dbo.place.RecognitionDate
      ,dbo.place.EnglishTeaser
      ,dbo.place.FrenchTeaser
      ,dbo.Place.Id as PlaceId
      --,YRHP.PrimaryPhoto.RowId as PhotoID
      ,('https://heritage.ynet.gov.yk.ca/api/register/' + convert (varchar(5), dbo.place.id) + '/photos/' + convert (varchar(40), YRHP.PrimaryPhoto.RowId)) as PhotoURL
FROM DBO.Place
Left Outer JOIN DBO.Community ON dbo.Place.CommunityId=dbo.community.Id
Left Outer join YRHP.PrimaryPhoto on dbo.Place.Id = YRHP.PrimaryPhoto.PlaceId
WHERE ShowInRegister = 1;
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AirCrash](
	[YACSINumber] [nvarchar](256) NOT NULL,
	[CrashDate] [datetime2](7) NULL,
	[AircraftType] [nvarchar](255) NULL,
	[AircraftRegistration] [nvarchar](255) NULL,
	[Nation] [nvarchar](25) NULL,
	[MilitaryCivilian] [nvarchar](25) NULL,
	[CrashLocation] [nvarchar](255) NULL,
	[RemainsonSite] [int] NULL,
	[ExtentofRemainsonSite] [nvarchar](2000) NULL,
	[OtherLocationsofRemains] [nvarchar](2000) NULL,
	[Pilot] [nvarchar](255) NULL,
	[Fatalities] [int] NULL,
	[DescriptionofCrashEvent] [nvarchar](2000) NULL,
	[Comments] [nvarchar](max) NULL,
	[SignificanceofAircraft] [nvarchar](max) NULL,
	[Sources] [nvarchar](255) NULL,
	[Photographs] [nvarchar](255) NULL,
	[InYukon] [nvarchar](255) NULL,
	[SoulsonBoard] [int] NULL,
	[Injuries] [int] NULL,
	[Accuracy] [nvarchar](255) NULL,
	[AircraftCaption] [nvarchar](255) NULL,
	[AircraftafterCrashCaption] [nvarchar](255) NULL,
	[Location] [geography] NULL,
	[LocationText]  AS ([Location].[STAsText]()),
	[DateDescriptor] [varchar](10) NULL,
	[DateNote] [varchar](140) NULL,
	[PilotLastName] [varchar](50) NULL,
	[PilotFirstName] [varchar](50) NULL,
	[PilotRank] [varchar](50) NULL,
 CONSTRAINT [PK__AirCrash__BE355E4365A9F75C] PRIMARY KEY CLUSTERED 
(
	[YACSINumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AirCrashBackup1](
	[YACSINumber] [nvarchar](255) NULL,
	[CrashDate] [datetime2](7) NULL,
	[AircraftType] [nvarchar](255) NULL,
	[AircraftRegistration] [nvarchar](255) NULL,
	[Nation] [nvarchar](25) NULL,
	[MilitaryCivilian] [nvarchar](25) NULL,
	[CrashLocation] [nvarchar](255) NULL,
	[RemainsonSite] [nvarchar](255) NULL,
	[ExtentofRemainsonSite] [nvarchar](255) NULL,
	[OtherLocationsofRemains] [nvarchar](255) NULL,
	[Pilot] [nvarchar](255) NULL,
	[Fatalities] [int] NULL,
	[DescriptionofCrashEvent] [nvarchar](255) NULL,
	[Comments] [nvarchar](max) NULL,
	[SignificanceofAircraft] [nvarchar](max) NULL,
	[Sources] [nvarchar](255) NULL,
	[Photographs] [nvarchar](255) NULL,
	[InYukon] [nvarchar](255) NULL,
	[SoulsonBoard] [int] NULL,
	[Injuries] [int] NULL,
	[Accuracy] [nvarchar](255) NULL,
	[AircraftCaption] [nvarchar](255) NULL,
	[AircraftafterCrashCaption] [nvarchar](255) NULL,
	[Location] [geography] NULL,
	[LocationText] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [InfoSource](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YACSINumber] [nvarchar](256) NULL,
	[Source] [nvarchar](250) NULL,
	[Type] [nvarchar](10) NULL,
 CONSTRAINT [PK__InfoSour__3214EC0727D30A85] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OLD_InfoSource](
	[Id] [int] NOT NULL,
	[YACSINumber] [nvarchar](256) NOT NULL,
	[Source] [nvarchar](250) NOT NULL,
	[Type] [nvarchar](10) NULL,
 CONSTRAINT [PK__InfoSour__3214EC07153D2738] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OLD_Photo](
	[Id] [int] NOT NULL,
	[YACSINumber] [nvarchar](256) NOT NULL,
	[Photo_RowID] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Photo__3214EC0789FECD72] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Photo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YACSINumber] [nvarchar](256) NULL,
	[Photo_RowID] [nvarchar](255) NULL,
 CONSTRAINT [PK__PhotoTES__3214EC0757C39966] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Backup](
	[UID] [int] NULL,
	[HistoryText] [nvarchar](max) NULL,
	[Reference] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Boat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConstructionDate] [datetime2](7) NULL,
	[ServiceStart] [datetime2](7) NULL,
	[ServiceEnd] [datetime2](7) NULL,
	[VesselType] [varchar](64) NULL,
	[CurrentLocation] [varchar](512) NULL,
	[Notes] [varchar](4096) NULL,
	[RegistrationNumber] [varchar](64) NULL,
	[Name] [varchar](64) NULL,
 CONSTRAINT [PK__Boat__3214EC07E7E5761C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BoatOwner](
	[BoatID] [int] NOT NULL,
	[OwnerID] [int] NOT NULL,
	[CurrentOwner] [bit] NOT NULL,
 CONSTRAINT [PK__BoatOwne__8C9111E5F5E02C09] PRIMARY KEY CLUSTERED 
(
	[BoatID] ASC,
	[OwnerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [History](
	[UID] [int] NULL,
	[HistoryText] [nvarchar](max) NULL,
	[Reference] [nvarchar](max) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__History__3213E83FAE790F4D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Owner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OwnerName] [varchar](64) NOT NULL,
 CONSTRAINT [PK__Owner__3214EC07BD1B459E] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OwnerAlias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OwnerId] [int] NOT NULL,
	[Alias] [varchar](64) NOT NULL,
 CONSTRAINT [PK__OwnerAli__3214EC07654D6C6C] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OwnerHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OwnerId] [int] NOT NULL,
	[HistoryText] [varchar](4096) NOT NULL,
	[Reference] [varchar](256) NOT NULL,
 CONSTRAINT [PK__OwnerHis__3214EC07C47E9BC6] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PastNames](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BoatId] [int] NOT NULL,
	[BoatName] [varchar](64) NOT NULL,
 CONSTRAINT [PK__PastName__3214EC07DD0D47D4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Photo](
	[BoatId] [int] NOT NULL,
	[Photo_RowID] [varchar](255) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__Photo__3214EC076ADE23BB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](64) NOT NULL,
 CONSTRAINT [PK__Type__3214EC0776BB85DB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Burial](
	[BurialID] [smallint] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](200) NULL,
	[FirstName] [varchar](255) NULL,
	[Gender] [varchar](8) NULL,
	[GenderOther] [varchar](100) NULL,
	[BirthYear] [smallint] NULL,
	[BirthMonth] [tinyint] NULL,
	[BirthDay] [tinyint] NULL,
	[BirthDateNotes] [varchar](200) NULL,
	[DeathYear] [smallint] NULL,
	[DeathMonth] [tinyint] NULL,
	[DeathDay] [tinyint] NULL,
	[DeathDateNotes] [varchar](200) NULL,
	[Age] [varchar](10) NULL,
	[Manner] [varchar](15) NULL,
	[CauseID] [smallint] NULL,
	[CemetaryID] [smallint] NULL,
	[OtherCemetaryDesc] [varchar](200) NULL,
	[PlotDescription] [varchar](200) NULL,
	[ShippedIndicator] [varchar](1) NULL,
	[DestinationShipped] [varchar](200) NULL,
	[FuneralPaidBy] [varchar](200) NULL,
	[OriginCity] [varchar](150) NULL,
	[OriginState] [varchar](150) NULL,
	[OriginCountry] [varchar](150) NULL,
	[OtherCountry] [varchar](150) NULL,
	[PersonNotes] [varchar](2000) NULL,
	[ReligionID] [smallint] NULL,
 CONSTRAINT [PK_BurialID] PRIMARY KEY CLUSTERED 
(
	[BurialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BurialBU](
	[BurialID] [smallint] NOT NULL,
	[LastName] [varchar](200) NULL,
	[FirstName] [varchar](255) NULL,
	[Gender] [varchar](8) NULL,
	[GenderOther] [varchar](100) NULL,
	[BirthYear] [smallint] NULL,
	[BirthMonth] [tinyint] NULL,
	[BirthDay] [tinyint] NULL,
	[BirthDateNotes] [varchar](200) NULL,
	[DeathYear] [smallint] NULL,
	[DeathMonth] [tinyint] NULL,
	[DeathDay] [tinyint] NULL,
	[DeathDateNotes] [varchar](200) NULL,
	[Age] [varchar](10) NULL,
	[Manner] [varchar](15) NULL,
	[CauseID] [smallint] NULL,
	[CemetaryID] [smallint] NULL,
	[OtherCemetaryDesc] [varchar](200) NULL,
	[PlotDescription] [varchar](200) NULL,
	[ShippedIndicator] [varchar](1) NULL,
	[DestinationShipped] [varchar](200) NULL,
	[FuneralPaidBy] [varchar](200) NULL,
	[OriginCity] [varchar](150) NULL,
	[OriginState] [varchar](150) NULL,
	[OriginCountry] [varchar](150) NULL,
	[OtherCountry] [varchar](150) NULL,
	[PersonNotes] [varchar](2000) NULL,
	[ReligionID] [smallint] NULL,
 CONSTRAINT [PK__Burial__BDFB3E33BC5AAC87] PRIMARY KEY CLUSTERED 
(
	[BurialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CauseLookup](
	[CauseLUpID] [smallint] IDENTITY(1,1) NOT NULL,
	[Cause] [varchar](30) NOT NULL,
 CONSTRAINT [PK__CauseLoo__871D0D286D921B4B] PRIMARY KEY CLUSTERED 
(
	[CauseLUpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CemetaryLookup](
	[CemetaryLUpID] [smallint] IDENTITY(1,1) NOT NULL,
	[Cemetary] [varchar](50) NOT NULL,
	[Community] [varchar](50) NULL,
	[Address] [varchar](200) NULL,
	[Notes] [varchar](255) NULL,
	[Latitude] [real] NULL,
	[Longitude] [real] NULL,
 CONSTRAINT [PK__Cemetary__64608C64A0FED3EE] PRIMARY KEY CLUSTERED 
(
	[CemetaryLUpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Membership](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[BurialID] [smallint] NOT NULL,
	[MembershipID] [smallint] NOT NULL,
	[Chapter] [varchar](100) NULL,
	[Notes] [varchar](255) NULL,
 CONSTRAINT [PK__Membersh__3214EC27FA61DFAB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MembershipLookup](
	[MembershipLUpID] [smallint] IDENTITY(1,1) NOT NULL,
	[Membership] [varchar](60) NOT NULL,
 CONSTRAINT [PK__Membersh__AE096A7550448814] PRIMARY KEY CLUSTERED 
(
	[MembershipLUpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NOKin](
	[NOKID] [smallint] IDENTITY(1,1) NOT NULL,
	[BurialID] [smallint] NOT NULL,
	[RelationshipID] [smallint] NOT NULL,
	[Quantity] [tinyint] NULL,
	[Name] [varchar](200) NULL,
	[Location] [varchar](100) NULL,
 CONSTRAINT [PK__NOKin__05FA48A30A49EA48] PRIMARY KEY CLUSTERED 
(
	[NOKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Occupation](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[BurialID] [smallint] NOT NULL,
	[OccupationID] [smallint] NOT NULL,
 CONSTRAINT [PK__Occupati__3214EC27263EF355] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OccupationLookup](
	[OccupationLupID] [smallint] IDENTITY(1,1) NOT NULL,
	[Occupation] [varchar](40) NOT NULL,
 CONSTRAINT [PK__Occupati__B3EF5113113C600C] PRIMARY KEY CLUSTERED 
(
	[OccupationLupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Photo](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[BurialID] [smallint] NOT NULL,
	[Photo_RowID] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Photo__3214EC0728CB35D1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RelationLookup](
	[RelationLUpID] [smallint] IDENTITY(1,1) NOT NULL,
	[Relationship] [varchar](30) NOT NULL,
 CONSTRAINT [PK__Relation__DD5F033522B8629B] PRIMARY KEY CLUSTERED 
(
	[RelationLUpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ReligionLookup](
	[ReligionLUpID] [smallint] IDENTITY(1,1) NOT NULL,
	[Religion] [varchar](60) NOT NULL,
 CONSTRAINT [PK__Religion__5BEEB01CAA6FD6A9] PRIMARY KEY CLUSTERED 
(
	[ReligionLUpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SiteVisit](
	[SiteVisitID] [smallint] IDENTITY(1,1) NOT NULL,
	[BurialID] [smallint] NOT NULL,
	[VisitYear] [smallint] NOT NULL,
	[Condition] [varchar](10) NULL,
	[MarkerDescription] [varchar](160) NULL,
	[Inscription] [varchar](600) NULL,
	[RecordedBy] [varchar](60) NULL,
 CONSTRAINT [PK__SiteVisi__B2D065E5581167AD] PRIMARY KEY CLUSTERED 
(
	[SiteVisitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Source](
	[SourceID] [smallint] IDENTITY(1,1) NOT NULL,
	[BurialID] [smallint] NOT NULL,
	[Source] [varchar](200) NOT NULL,
 CONSTRAINT [PK__Source__16E019F95120B963] PRIMARY KEY CLUSTERED 
(
	[SourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AccessSection](
	[SectionID] [int] IDENTITY(1,1) NOT NULL,
	[SectionName] [varchar](60) NOT NULL,
	[SectionIcon] [varchar](120) NULL,
 CONSTRAINT [PK__AccessSe__80EF089292E659F6] PRIMARY KEY CLUSTERED 
(
	[SectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AccessType](
	[AccessID] [int] IDENTITY(1,1) NOT NULL,
	[AccessName] [varchar](60) NOT NULL,
 CONSTRAINT [PK__AccessTy__4130D0BFA7F89388] PRIMARY KEY CLUSTERED 
(
	[AccessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [air_crash$](
	[YACSI Number] [nvarchar](255) NULL,
	[Crash Date] [nvarchar](255) NULL,
	[Aircraft Type] [nvarchar](255) NULL,
	[Aircraft Registration] [nvarchar](255) NULL,
	[Canadian] [nvarchar](255) NULL,
	[American] [nvarchar](255) NULL,
	[Civilian] [nvarchar](255) NULL,
	[Military] [nvarchar](255) NULL,
	[Crash Location] [nvarchar](255) NULL,
	[Latitude] [nvarchar](255) NULL,
	[Longitude] [nvarchar](255) NULL,
	[Remains on Site] [nvarchar](255) NULL,
	[Extent of Remains on Site] [nvarchar](255) NULL,
	[Other Locations of Remains] [nvarchar](255) NULL,
	[Pilot] [nvarchar](255) NULL,
	[Fatalities] [real] NULL,
	[Description of Crash Event] [nvarchar](255) NULL,
	[Comments] [ntext] NULL,
	[Significance of Aircraft] [ntext] NULL,
	[Sources] [nvarchar](255) NULL,
	[Photographs] [nvarchar](255) NULL,
	[In Yukon] [nvarchar](255) NULL,
	[Souls on Board] [real] NULL,
	[Injuries] [real] NULL,
	[Accuracy] [nvarchar](255) NULL,
	[Aircraft Caption] [nvarchar](255) NULL,
	[Aircraft after Crash Caption] [nvarchar](255) NULL,
	[Location] [geography] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Association](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Description] [nvarchar](256) NULL,
 CONSTRAINT [PK_Association] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [batch_temp](
	[image_id] [int] NOT NULL,
	[batch_info] [nvarchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BoatEntity](
	[Boat] [uniqueidentifier] NOT NULL,
	[UID] [int] NULL,
	[SysStartTime] [datetime2](7) NOT NULL,
	[SysEndTime] [datetime2](7) NOT NULL,
 CONSTRAINT [BoatEntity_pk] PRIMARY KEY CLUSTERED 
(
	[Boat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [boats$](
	[UID] [real] NULL,
	[Record_Type] [nvarchar](255) NULL,
	[Orig_Boat] [nvarchar](255) NULL,
	[Boat_Name_1] [nvarchar](255) NULL,
	[Boat_Name2] [nvarchar](255) NULL,
	[Boat_Name3] [nvarchar](255) NULL,
	[Construction_Date] [nvarchar](255) NULL,
	[Service_Start_Date] [nvarchar](255) NULL,
	[Service_End_Date] [nvarchar](255) NULL,
	[Vessle_Type] [nvarchar](255) NULL,
	[Current_Loc_Desc] [nvarchar](255) NULL,
	[Registration_No] [nvarchar](255) NULL,
	[Notes] [nvarchar](255) NULL,
	[Org_Company] [nvarchar](255) NULL,
	[Owner1] [nvarchar](255) NULL,
	[Owner2] [nvarchar](255) NULL,
	[Owner3] [nvarchar](255) NULL,
	[Owner4] [nvarchar](255) NULL,
	[Owner5] [nvarchar](255) NULL,
	[Owner6] [nvarchar](255) NULL,
	[Org_History] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clate$](
	[YACSI] [nvarchar](255) NULL,
	[Latitude] [real] NULL,
	[Longitude] [real] NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Community](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[FR_Name] [nvarchar](256) NULL,
 CONSTRAINT [PK_Comunity] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ConstructionPeriod](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_ConstructionPeriod] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[FirstName] [nvarchar](256) NULL,
	[LastName] [nvarchar](256) NULL,
	[PhoneNumber] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[MailingAddress] [nvarchar](256) NULL,
	[Description] [nvarchar](256) NULL,
	[ContactType] [int] NOT NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Dates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[FromDate] [nvarchar](256) NULL,
	[ToDate] [nvarchar](256) NULL,
	[Details] [nvarchar](256) NULL,
 CONSTRAINT [PK_Dates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Description](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[DescriptionText] [nvarchar](max) NULL,
	[Type] [int] NOT NULL,
	[FR_DescriptionText] [nvarchar](max) NULL,
 CONSTRAINT [PK_Description] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Existing_Photos](
	[RowId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FirstNation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](256) NULL,
 CONSTRAINT [PK_FirstNation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FirstNationAssociation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[FirstNationId] [int] NOT NULL,
	[FirstNationAssociationType] [int] NOT NULL,
	[Comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_FirstNationAssociation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FunctionalType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](256) NULL,
 CONSTRAINT [PK_FunctionalType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FunctionalUse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[FunctionalTypeId] [int] NOT NULL,
	[FunctionalUseType] [int] NOT NULL,
	[Description] [nvarchar](256) NULL,
 CONSTRAINT [PK_FunctionalUse] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HistoricalPattern](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[HistoricalPatternType] [int] NOT NULL,
 CONSTRAINT [PK_HistoricalPattern] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HSUser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ExpirationDate] [datetime] NULL,
 CONSTRAINT [PK_HSUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HSUserAccess](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[AccessType] [int] NOT NULL,
	[AccessText] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_UserAccess] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ibbit_Content](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Format] [int] NOT NULL,
	[Version] [int] NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[IsPublished] [bit] NULL,
 CONSTRAINT [PK_Ibbit_TextContent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ibbit_Control](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[Path] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Ibbit_Control] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ibbit_Endpoint](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](500) NULL,
	[IsHome] [bit] NOT NULL,
	[ExtensionType] [nvarchar](500) NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_Page] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ibbit_PageLayout](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[FilePath] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_Ibbit_PageLayout] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ibbit_PageRevision](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EndpointId] [int] NOT NULL,
	[CreateUserId] [int] NOT NULL,
	[Version] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[LayoutId] [int] NOT NULL,
	[Keywords] [nvarchar](1000) NULL,
	[Status] [int] NOT NULL,
	[ContentItemDetail] [nvarchar](max) NULL,
	[PublishDate] [datetime] NULL,
 CONSTRAINT [PK_Ibbit_PageRevision] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ibbit_User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[LastLogin] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Ibbit_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ibbit_UserSession](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[SessionId] [nvarchar](50) NOT NULL,
	[LoginDate] [datetime] NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[IsKilled] [bit] NOT NULL,
 CONSTRAINT [PK_Ibbit_UserSession] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [knex_migrations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[batch] [int] NULL,
	[migration_time] [datetime2](7) NULL,
 CONSTRAINT [PK__knex_mig__3213E83F9C3620E1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [knex_migrations_lock](
	[index] [int] IDENTITY(1,1) NOT NULL,
	[is_locked] [int] NULL,
 CONSTRAINT [PK__knex_mig__1D0A33482B06FAF0] PRIMARY KEY CLUSTERED 
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MSSQL_TemporalHistoryFor_1221579390](
	[Boat] [uniqueidentifier] NOT NULL,
	[UID] [int] NULL,
	[SysStartTime] [datetime2](7) NOT NULL,
	[SysEndTime] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MSSQL_TemporalHistoryFor_1269579561](
	[ID] [uniqueidentifier] NOT NULL,
	[BoatName] [nvarchar](500) NOT NULL,
	[BoatEntityID] [uniqueidentifier] NULL,
	[SysStartTime] [datetime2](7) NOT NULL,
	[SysEndTime] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Name](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[Description] [nvarchar](256) NULL,
 CONSTRAINT [PK_Name] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [OriginalMedia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](256) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ownership](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[OwnershipType] [int] NOT NULL,
	[Comments] [nvarchar](256) NULL,
 CONSTRAINT [PK_Ownership] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Photo](
	[RowId] [uniqueidentifier] NOT NULL,
	[Id] [int] NULL,
	[PlaceId] [int] NULL,
	[File] [varbinary](max) NULL,
	[OriginalFileName] [nvarchar](256) NULL,
	[FeatureName] [nvarchar](600) NULL,
	[CommunityId] [int] NOT NULL,
	[NTSMapNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](600) NULL,
	[DateCreated] [date] NULL,
	[YHSIRecord] [nvarchar](20) NULL,
	[BordenRecord] [nvarchar](20) NULL,
	[PaleoRecord] [nvarchar](20) NULL,
	[ArchivalRecord] [nvarchar](20) NULL,
	[IsOtherRecord] [bit] NOT NULL,
	[OriginalMediaId] [int] NOT NULL,
	[OriginalRecord] [nvarchar](256) NULL,
	[MediaStorage] [int] NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[Caption] [nvarchar](256) NULL,
	[Copyright] [int] NOT NULL,
	[CreditLine] [nvarchar](256) NULL,
	[OwnerId] [int] NOT NULL,
	[PhotoProjectId] [int] NOT NULL,
	[Program] [int] NOT NULL,
	[Creator] [nvarchar](256) NULL,
	[CommunityName] [nvarchar](256) NULL,
	[Location] [nvarchar](256) NULL,
	[UsageRights] [int] NULL,
	[IsComplete] [bit] NOT NULL,
	[ImageHeight] [int] NULL,
	[ImageWidth] [int] NULL,
	[Rating] [int] NOT NULL,
	[Subjects] [varchar](500) NULL,
	[LegacyBatchInfo] [nvarchar](150) NULL,
	[IsSiteDefault] [bit] NOT NULL,
	[isPrivate] [bit] NOT NULL,
	[ThumbFile] [varbinary](max) NULL,
	[YRHPOrder] [int] NULL,
	[photoSize]  AS (case when [ImageHeight]*[ImageWidth]<(1920000) then 'small' when [ImageHeight]*[ImageWidth]<(5947392) then 'medium' else 'large' end),
	[DatePhotoTaken] [date] NULL,
	[ShowInRegister] [bit] NULL,
	[IsYRHPCoverImage] [bit] NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Photo_Missing](
	[RowId] [uniqueidentifier] NOT NULL,
	[Id] [int] NULL,
	[PlaceId] [int] NULL,
	[OriginalFileName] [nvarchar](256) NULL,
	[FeatureName] [nvarchar](600) NULL,
	[CommunityId] [int] NOT NULL,
	[NTSMapNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](600) NULL,
	[DateCreated] [date] NULL,
	[YHSIRecord] [nvarchar](20) NULL,
	[BordenRecord] [nvarchar](20) NULL,
	[PaleoRecord] [nvarchar](20) NULL,
	[ArchivalRecord] [nvarchar](20) NULL,
	[IsOtherRecord] [bit] NOT NULL,
	[OriginalMediaId] [int] NOT NULL,
	[OriginalRecord] [nvarchar](256) NULL,
	[MediaStorage] [int] NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[Caption] [nvarchar](256) NULL,
	[Copyright] [int] NOT NULL,
	[CreditLine] [nvarchar](256) NULL,
	[OwnerId] [int] NOT NULL,
	[PhotoProjectId] [int] NOT NULL,
	[Program] [int] NOT NULL,
	[Creator] [nvarchar](256) NULL,
	[CommunityName] [nvarchar](256) NULL,
	[Location] [nvarchar](256) NULL,
	[UsageRights] [int] NULL,
	[IsComplete] [bit] NOT NULL,
	[ImageHeight] [int] NULL,
	[ImageWidth] [int] NULL,
	[Subjects] [varchar](500) NULL,
	[Rating] [int] NULL,
 CONSTRAINT [PK_Image-old] PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PhotoBatch](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
	[DateCreated] [datetime] NULL,
	[PlaceId] [int] NULL,
	[CommunityId] [int] NULL,
	[NTSMapNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](600) NULL,
	[YHSIRecord] [nvarchar](20) NULL,
	[BordenRecord] [nvarchar](20) NULL,
	[PaleoRecord] [nvarchar](20) NULL,
	[ArchivalRecord] [nvarchar](20) NULL,
	[IsOtherRecord] [bit] NOT NULL,
	[OriginalMediaId] [int] NULL,
	[OriginalRecord] [nvarchar](256) NULL,
	[MediaStorage] [int] NULL,
	[Comments] [nvarchar](max) NULL,
	[Caption] [nvarchar](256) NULL,
	[Copyright] [int] NULL,
	[CreditLine] [nvarchar](256) NULL,
	[OwnerId] [int] NULL,
	[PhotoProjectId] [int] NULL,
	[Program] [int] NULL,
	[Creator] [nvarchar](256) NULL,
	[CommunityName] [nvarchar](256) NULL,
	[Location] [nvarchar](256) NULL,
	[UsageRights] [int] NULL,
	[IsComplete] [bit] NOT NULL,
	[Subjects] [varchar](500) NULL,
	[isPrivate] [bit] NOT NULL,
 CONSTRAINT [PK__YHS_Phot__3214EC07D8910904] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PhotoBatchPhoto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PhotoBatchId] [int] NOT NULL,
	[PhotoFile] [varbinary](max) NULL,
	[PhotoFileName] [nvarchar](200) NOT NULL,
	[PhotoContentType] [nvarchar](100) NOT NULL,
	[ThumbFile] [varbinary](max) NULL,
 CONSTRAINT [PK__YHS_Phot__3214EC076E3FF4E7] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PhotoOwner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[Address] [nvarchar](256) NULL,
	[Telephone] [nvarchar](256) NULL,
	[ContactPerson] [nvarchar](256) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PhotoProject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Permit] [nvarchar](256) NULL,
	[Year] [nvarchar](256) NULL,
	[Section] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PhotoSubject](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_PhotoSubject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Place](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrimaryName] [nvarchar](700) NOT NULL,
	[YHSIId] [nvarchar](20) NOT NULL,
	[Jurisdiction] [int] NOT NULL,
	[StatuteId] [int] NOT NULL,
	[Statute2Id] [int] NOT NULL,
	[RecognitionDate] [date] NULL,
	[OwnerConsent] [int] NOT NULL,
	[Category] [int] NOT NULL,
	[IsPubliclyAccessible] [bit] NOT NULL,
	[NTSMapSheet] [nvarchar](256) NULL,
	[BordenNumber] [nvarchar](256) NULL,
	[Geocode] [nvarchar](256) NULL,
	[HectareArea] [nvarchar](256) NULL,
	[Latitude] [nvarchar](256) NULL,
	[Longitude] [nvarchar](256) NULL,
	[LocationComment] [nvarchar](256) NULL,
	[ResourceType] [nvarchar](256) NULL,
	[BuildingSize] [nvarchar](256) NULL,
	[ConditionComment] [nvarchar](max) NULL,
	[CurrentUseComment] [nvarchar](256) NULL,
	[YHSPastUse] [nvarchar](256) NULL,
	[CIHBNumber] [nvarchar](256) NULL,
	[GroupYHSI] [nvarchar](256) NULL,
	[YGBuildingNumber] [nvarchar](256) NULL,
	[YGReserveNumber] [nvarchar](256) NULL,
	[FHBRONumber] [nvarchar](256) NULL,
	[Zoning] [nvarchar](256) NULL,
	[TownSiteMapNumber] [nvarchar](256) NULL,
	[SiteDistrictNumber] [nvarchar](256) NULL,
	[PlanNumber] [nvarchar](256) NULL,
	[Block] [nvarchar](256) NULL,
	[Lot] [nvarchar](256) NULL,
	[SlideNegativeIndex] [nvarchar](max) NULL,
	[OtherCommunity] [nvarchar](256) NULL,
	[OtherLocality] [nvarchar](256) NULL,
	[PreviousAddress] [nvarchar](500) NULL,
	[YHSThemes] [nvarchar](max) NULL,
	[RollNumber] [nvarchar](256) NULL,
	[LocationContext] [nvarchar](max) NULL,
	[CommunityId] [int] NOT NULL,
	[LAGroup] [nvarchar](256) NULL,
	[SiteStatus] [int] NOT NULL,
	[FloorCondition] [int] NOT NULL,
	[WallCondition] [int] NOT NULL,
	[DoorCondition] [int] NOT NULL,
	[RoofCondition] [int] NOT NULL,
	[CoordinateDetermination] [int] NOT NULL,
	[PhysicalAddress] [nvarchar](500) NULL,
	[PhysicalProvince] [nvarchar](256) NULL,
	[PhysicalCountry] [nvarchar](256) NULL,
	[PhysicalPostalCode] [nvarchar](256) NULL,
	[MailingAddress] [nvarchar](500) NULL,
	[MailingProvince] [nvarchar](256) NULL,
	[MailingCountry] [nvarchar](256) NULL,
	[MailingPostalCode] [nvarchar](256) NULL,
	[ShowInRegister] [bit] NOT NULL,
	[SiteCategories] [nvarchar](500) NULL,
	[Designations] [nvarchar](500) NULL,
	[ContributingResources] [nvarchar](500) NULL,
	[Records] [nvarchar](500) NULL,
	[location] [geography] NULL,
	[EnglishTeaser] [varchar](255) NULL,
	[FrenchTeaser] [varchar](255) NULL,
	[FR_PrimaryName] [nvarchar](700) NULL,
	[FR_Designations] [nvarchar](500) NULL,
	[deleted_at] [datetime] NULL,
 CONSTRAINT [PK__Place__3214EC076A75EDA3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PlaceEdit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrimaryName] [nvarchar](700) NOT NULL,
	[YHSIId] [nvarchar](20) NOT NULL,
	[Jurisdiction] [int] NOT NULL,
	[StatuteId] [int] NOT NULL,
	[Statute2Id] [int] NOT NULL,
	[RecognitionDate] [date] NULL,
	[OwnerConsent] [int] NOT NULL,
	[Category] [int] NOT NULL,
	[IsPubliclyAccessible] [bit] NOT NULL,
	[NTSMapSheet] [nvarchar](256) NULL,
	[BordenNumber] [nvarchar](256) NULL,
	[Geocode] [nvarchar](256) NULL,
	[HectareArea] [nvarchar](256) NULL,
	[Latitude] [nvarchar](256) NULL,
	[Longitude] [nvarchar](256) NULL,
	[LocationComment] [nvarchar](256) NULL,
	[ResourceType] [nvarchar](256) NULL,
	[BuildingSize] [nvarchar](256) NULL,
	[ConditionComment] [nvarchar](max) NULL,
	[CurrentUseComment] [nvarchar](256) NULL,
	[YHSPastUse] [nvarchar](256) NULL,
	[CIHBNumber] [nvarchar](256) NULL,
	[GroupYHSI] [nvarchar](256) NULL,
	[YGBuildingNumber] [nvarchar](256) NULL,
	[YGReserveNumber] [nvarchar](256) NULL,
	[FHBRONumber] [nvarchar](256) NULL,
	[Zoning] [nvarchar](256) NULL,
	[TownSiteMapNumber] [nvarchar](256) NULL,
	[SiteDistrictNumber] [nvarchar](256) NULL,
	[PlanNumber] [nvarchar](256) NULL,
	[Block] [nvarchar](256) NULL,
	[Lot] [nvarchar](256) NULL,
	[SlideNegativeIndex] [nvarchar](max) NULL,
	[OtherCommunity] [nvarchar](256) NULL,
	[OtherLocality] [nvarchar](256) NULL,
	[PreviousAddress] [nvarchar](500) NULL,
	[YHSThemes] [nvarchar](max) NULL,
	[RollNumber] [nvarchar](256) NULL,
	[LocationContext] [nvarchar](max) NULL,
	[CommunityId] [int] NOT NULL,
	[LAGroup] [nvarchar](256) NULL,
	[SiteStatus] [int] NOT NULL,
	[FloorCondition] [int] NOT NULL,
	[WallCondition] [int] NOT NULL,
	[DoorCondition] [int] NOT NULL,
	[RoofCondition] [int] NOT NULL,
	[CoordinateDetermination] [int] NOT NULL,
	[PhysicalAddress] [nvarchar](500) NULL,
	[PhysicalProvince] [nvarchar](256) NULL,
	[PhysicalCountry] [nvarchar](256) NULL,
	[PhysicalPostalCode] [nvarchar](256) NULL,
	[MailingAddress] [nvarchar](500) NULL,
	[MailingProvince] [nvarchar](256) NULL,
	[MailingCountry] [nvarchar](256) NULL,
	[MailingPostalCode] [nvarchar](256) NULL,
	[EditorUserId] [int] NOT NULL,
	[EditDate] [date] NULL,
	[AssociationJSON] [nvarchar](max) NULL,
	[ConstructionPeriodJSON] [nvarchar](max) NULL,
	[ContactJSON] [nvarchar](max) NULL,
	[ContributingResourceJSON] [nvarchar](max) NULL,
	[DatesJSON] [nvarchar](max) NULL,
	[DescriptionJSON] [nvarchar](max) NULL,
	[FirstNationAssociationJSON] [nvarchar](max) NULL,
	[FunctionalUseJSON] [nvarchar](max) NULL,
	[HistoricalPatternJSON] [nvarchar](max) NULL,
	[NameJSON] [nvarchar](max) NULL,
	[PreviousOwnershipJSON] [nvarchar](max) NULL,
	[RecordJSON] [nvarchar](max) NULL,
	[RevisionLogJSON] [nvarchar](max) NULL,
	[SiteCategoryJSON] [nvarchar](max) NULL,
	[ThemeJSON] [nvarchar](max) NULL,
	[WebLinkJSON] [nvarchar](max) NULL,
	[PlaceId] [int] NULL,
	[ShowInRegister] [bit] NOT NULL,
	[OwnershipJSON] [nvarchar](max) NULL,
	[SiteCategories] [nvarchar](500) NULL,
	[Designations] [nvarchar](500) NULL,
	[ContributingResources] [nvarchar](500) NULL,
	[Records] [nvarchar](500) NULL,
 CONSTRAINT [PK_PlaceEdit] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PlaceTheme](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_PlaceTheme] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PreviousOwnership](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[OwnershipNumber] [nvarchar](256) NULL,
	[OwnershipName] [nvarchar](256) NULL,
	[OwnershipDate] [nvarchar](200) NULL,
 CONSTRAINT [PK_PreviousOwnership] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Prod_Photo_List](
	[Id] [int] NULL,
	[OriginalFileName] [nvarchar](256) NULL,
	[FeatureName] [nvarchar](600) NULL,
	[YHSIRecord] [nvarchar](20) NULL,
	[IsComplete] [bit] NOT NULL,
	[PhotoProjectId] [int] NOT NULL,
	[OriginalMediaId] [int] NOT NULL,
	[CommunityId] [int] NOT NULL,
	[PlaceId] [int] NULL,
	[OwnerId] [int] NOT NULL,
	[Subjects] [varchar](500) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RevisionLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[RevisionLogType] [int] NOT NULL,
	[RevisionDate] [nvarchar](50) NULL,
	[RevisedBy] [nvarchar](256) NULL,
	[Details] [nvarchar](256) NULL,
 CONSTRAINT [PK_RevisionLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SavedFilter](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ResultType] [nvarchar](50) NOT NULL,
	[Value] [nvarchar](2000) NULL,
 CONSTRAINT [PK_SavedFilter] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Site_Status_CD](
	[Site_Status_ID] [int] NULL,
	[Code] [int] NULL,
	[Description] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SiteImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NULL,
	[ImageTypeId] [int] NULL,
	[Caption] [nvarchar](256) NULL,
	[ImageDescription] [nvarchar](256) NULL,
	[FileName] [nvarchar](256) NULL,
	[Copyright] [nvarchar](256) NULL,
	[FileLocation] [nvarchar](256) NULL,
	[ImagePath] [nvarchar](256) NULL,
	[ThumbnailPath] [nvarchar](256) NULL,
	[IsPrimary] [bit] NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Statute](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecognitionAuthority] [nvarchar](256) NULL,
	[RecognitionType] [nvarchar](256) NULL,
	[Description] [nvarchar](256) NULL,
	[AllStatute] [nvarchar](256) NULL,
 CONSTRAINT [PK_Statute] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Theme](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[PlaceThemeId] [int] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WebLink](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Address] [nvarchar](256) NULL,
 CONSTRAINT [PK_WebLink] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [webpages_Membership](
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ConfirmationToken] [nvarchar](128) NULL,
	[IsConfirmed] [bit] NULL,
	[LastPasswordFailureDate] [datetime] NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[PasswordVerificationToken] [nvarchar](128) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
 CONSTRAINT [PK__webpages__1788CC4C00FF2738] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [webpages_OAuthMembership](
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderUserId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK__webpages__F53FC0ED8981EBBF] PRIMARY KEY CLUSTERED 
(
	[Provider] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [webpages_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK__webpages__8AFACE1AC5BADF32] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [webpages_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK__webpages__AF2760ADAFD53FCE] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Actions](
	[ActionID] [smallint] IDENTITY(1,1) NOT NULL,
	[InspectID] [smallint] NOT NULL,
	[SiteID] [smallint] NOT NULL,
	[ActionDesc] [varchar](4096) NOT NULL,
	[ToBeCompleteDate] [date] NULL,
	[ActionCompleteDate] [date] NULL,
	[CompletionDesc] [varchar](4096) NULL,
	[Priority] [varchar](8) NULL,
	[CreatedBy] [varchar](128) NULL,
	[CreatedDate] [date] NULL,
	[CompletedBy] [varchar](128) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AssetCategoryLookup](
	[CatLUpID] [smallint] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](30) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__AssetCat__D7766E441149C0D2] PRIMARY KEY CLUSTERED 
(
	[CatLUpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Assets](
	[AssetID] [smallint] IDENTITY(1,1) NOT NULL,
	[SiteID] [smallint] NOT NULL,
	[Category] [varchar](182) NULL,
	[Type] [varchar](128) NULL,
	[Size] [varchar](128) NULL,
	[Description] [varchar](4096) NULL,
	[SignText] [nvarchar](max) NULL,
	[InstallDate] [date] NULL,
	[DecommissionDate] [date] NULL,
	[DecommissionNotes] [varchar](1024) NULL,
	[Status] [varchar](128) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AssetTypeLookup](
	[TypeLUpID] [smallint] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](100) NOT NULL,
	[Category] [varchar](30) NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK__AssetTyp__C2CE044178218299] PRIMARY KEY CLUSTERED 
(
	[TypeLUpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Documents](
	[DocID] [smallint] IDENTITY(1,1) NOT NULL,
	[ActionID] [smallint] NULL,
	[InspectID] [smallint] NULL,
	[SiteID] [smallint] NULL,
	[DocDesc] [varchar](140) NULL,
	[UploadedBy] [varchar](50) NULL,
	[UploadDate] [date] NULL,
	[Document] [varbinary](max) NULL,
	[AssetID] [smallint] NULL,
	[FileType] [varchar](30) NULL,
 CONSTRAINT [PK__Document__3EF1888DAA25EC7C] PRIMARY KEY CLUSTERED 
(
	[DocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inspections](
	[InspectID] [smallint] IDENTITY(1,1) NOT NULL,
	[SiteID] [smallint] NOT NULL,
	[InspectionDate] [date] NULL,
	[Description] [varchar](2048) NULL,
	[InspectedBy] [varchar](50) NULL,
 CONSTRAINT [PK__Inspecti__CCA48DD7578323B0] PRIMARY KEY CLUSTERED 
(
	[InspectID] ASC,
	[SiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Maintainer](
	[MaintID] [smallint] IDENTITY(1,1) NOT NULL,
	[AssetID] [smallint] NULL,
	[SiteID] [smallint] NULL,
 CONSTRAINT [PK__Maintain__D79F0B8CEFBEA873] PRIMARY KEY CLUSTERED 
(
	[MaintID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MaintOwnLookup](
	[MaintOwnLUpID] [smallint] IDENTITY(1,1) NOT NULL,
	[MaintOwnName] [varchar](50) NOT NULL,
	[MaintOwnNotes] [varchar](255) NULL,
 CONSTRAINT [PK__MaintOwn__0FF9C75D1892497E] PRIMARY KEY CLUSTERED 
(
	[MaintOwnLUpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Photos](
	[Id] [smallint] IDENTITY(1,1) NOT NULL,
	[SiteID] [smallint] NOT NULL,
	[Photo_RowID] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Photos__3214EC074166BB59] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RouteLookup](
	[RouteLUpID] [smallint] IDENTITY(1,1) NOT NULL,
	[RouteName] [varchar](50) NOT NULL,
 CONSTRAINT [PK__RouteLoo__D002A518884A5943] PRIMARY KEY CLUSTERED 
(
	[RouteLUpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sites](
	[SiteID] [smallint] IDENTITY(1,1) NOT NULL,
	[SiteName] [varchar](60) NULL,
	[LocationDesc] [varchar](150) NULL,
	[RouteName] [varchar](50) NULL,
	[KMNum] [smallint] NULL,
	[MapSheet] [varchar](7) NULL,
	[Latitude] [real] NULL,
	[Longitude] [real] NULL,
	[EstablishedYear] [smallint] NULL,
	[AdvancedNotification] [varchar](7) NULL,
	[NotificationDesc] [varchar](255) NULL,
 CONSTRAINT [PK__Sites__B9DCB9038B2768DE] PRIMARY KEY CLUSTERED 
(
	[SiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [History](
	[PersonHistID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NULL,
	[SeqID] [int] NOT NULL,
	[HistoryText] [nvarchar](max) NULL,
	[Reference] [varchar](1024) NULL,
	[Restricted] [int] NULL,
 CONSTRAINT [PK__HistoryN__BFE776F33EAFABEF] PRIMARY KEY CLUSTERED 
(
	[PersonHistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Person](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [varchar](256) NULL,
	[GivenName] [varchar](256) NULL,
	[BirthYear] [int] NULL,
	[BirthAccuracy] [varchar](8) NULL,
	[DeathYear] [int] NULL,
	[DeathAccuracy] [varchar](8) NULL,
	[Notes] [text] NULL,
 CONSTRAINT [PK__PersonTe__AA2FFB85B6E5CB31] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Photo](
	[PersonID] [int] NOT NULL,
	[PhotoID] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AlternateName](
	[PlaceID] [int] NOT NULL,
	[AlternateName] [varchar](255) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__Alternat__3214EC0722C106A5] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FirstNationName](
	[PlaceId] [int] NOT NULL,
	[FNName] [varchar](64) NOT NULL,
	[FNLanguage] [varchar](128) NULL,
	[FNDesription] [varchar](255) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__FirstNat__3214EC076302D5B8] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FNAssociation](
	[PlaceId] [int] NOT NULL,
	[FirstNationId] [int] NOT NULL,
	[FNAssociationType] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Photo](
	[PlaceID] [int] NULL,
	[Photo_RowID] [nvarchar](255) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__Photo__3214EC07A1A629AD] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Place](
	[Name] [varchar](255) NOT NULL,
	[LocationDesc] [varchar](512) NULL,
	[Latitude] [real] NULL,
	[Longitude] [real] NULL,
	[MapSheet] [varchar](25) NULL,
	[Notes] [varchar](512) NULL,
	[Accuracy] [varchar](30) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__Place__3214EC0728EFBE21] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PlaceHistory](
	[PlaceId] [int] NOT NULL,
	[HistoryText] [varchar](max) NOT NULL,
	[Reference] [varchar](2048) NULL,
	[Restricted] [int] NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__PlaceHis__3214EC07C4DEAE17] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PlaceType](
	[PlaceId] [int] NOT NULL,
	[PlaceTypeLookupId] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PlaceTypeLookup](
	[PlaceType] [varchar](140) NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__PlaceTyp__3214EC0728DB345B] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SiteAccessType](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
 CONSTRAINT [pk_SiteAccessType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](200) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[create_date] [datetime2](0) NOT NULL,
	[expire_date] [date] NULL,
	[last_login_date] [datetime2](0) NULL,
	[roles] [nvarchar](1000) NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__User__3213E83F4B561AA5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [UserSiteAccess](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[access_type_id] [int] NOT NULL,
	[access_text] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK__UserSite__3213E83F01A4ED1C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MapSheetLookup](
	[Id] [int] NOT NULL,
	[Map50k] [nvarchar](8) NOT NULL,
	[Map250k] [nvarchar](8) NOT NULL,
 CONSTRAINT [PK__MapSheet__3214EC0768988A65] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 85) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Boat] ADD  DEFAULT (NULL) FOR [ConstructionDate]
GO
ALTER TABLE [Boat] ADD  DEFAULT (NULL) FOR [ServiceStart]
GO
ALTER TABLE [Boat] ADD  DEFAULT (NULL) FOR [ServiceEnd]
GO
ALTER TABLE [Boat] ADD  DEFAULT (NULL) FOR [VesselType]
GO
ALTER TABLE [Boat] ADD  DEFAULT (NULL) FOR [CurrentLocation]
GO
ALTER TABLE [Boat] ADD  DEFAULT (NULL) FOR [Notes]
GO
ALTER TABLE [Boat] ADD  DEFAULT (NULL) FOR [RegistrationNumber]
GO
ALTER TABLE [Boat] ADD  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [BoatEntity] ADD  DEFAULT (newid()) FOR [Boat]
GO
ALTER TABLE [BoatEntity] ADD  DEFAULT (sysutcdatetime()) FOR [SysStartTime]
GO
ALTER TABLE [BoatEntity] ADD  DEFAULT (CONVERT([datetime2],'9999-12-31 23:59:59.9999999')) FOR [SysEndTime]
GO
ALTER TABLE [Photo] ADD  DEFAULT (newid()) FOR [RowId]
GO
ALTER TABLE [Photo] ADD  DEFAULT ((0)) FOR [UsageRights]
GO
ALTER TABLE [Photo] ADD  DEFAULT ((1)) FOR [Rating]
GO
ALTER TABLE [Photo] ADD  DEFAULT ((0)) FOR [IsSiteDefault]
GO
ALTER TABLE [Photo] ADD  DEFAULT ('0') FOR [isPrivate]
GO
ALTER TABLE [Photo] ADD  DEFAULT (NULL) FOR [ThumbFile]
GO
ALTER TABLE [Photo_Missing] ADD  DEFAULT (newid()) FOR [RowId]
GO
ALTER TABLE [PhotoBatch] ADD  DEFAULT ((0)) FOR [IsOtherRecord]
GO
ALTER TABLE [PhotoBatch] ADD  DEFAULT ((0)) FOR [IsComplete]
GO
ALTER TABLE [PhotoBatch] ADD  DEFAULT ((0)) FOR [isPrivate]
GO
ALTER TABLE [Actions] ADD  DEFAULT (NULL) FOR [CompletionDesc]
GO
ALTER TABLE [Actions] ADD  DEFAULT (NULL) FOR [CreatedBy]
GO
ALTER TABLE [Actions] ADD  DEFAULT (NULL) FOR [CompletedBy]
GO
ALTER TABLE [Documents] ADD  DEFAULT (NULL) FOR [AssetID]
GO
ALTER TABLE [Inspections] ADD  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [Person] ADD  DEFAULT (NULL) FOR [Notes]
GO
ALTER TABLE [FirstNationName] ADD  DEFAULT (NULL) FOR [FNLanguage]
GO
ALTER TABLE [PlaceHistory] ADD  DEFAULT (NULL) FOR [Reference]
GO
ALTER TABLE [User] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [InfoSource]  WITH CHECK ADD  CONSTRAINT [FK_InfoSource_YACSI] FOREIGN KEY([YACSINumber])
REFERENCES [AirCrash] ([YACSINumber])
GO
ALTER TABLE [InfoSource] CHECK CONSTRAINT [FK_InfoSource_YACSI]
GO
ALTER TABLE [OLD_InfoSource]  WITH CHECK ADD  CONSTRAINT [FK__InfoSourc__YACSI__58671BC9] FOREIGN KEY([YACSINumber])
REFERENCES [AirCrash] ([YACSINumber])
GO
ALTER TABLE [OLD_InfoSource] CHECK CONSTRAINT [FK__InfoSourc__YACSI__58671BC9]
GO
ALTER TABLE [OLD_Photo]  WITH CHECK ADD  CONSTRAINT [FK__Photo__YACSINumb__52AE4273] FOREIGN KEY([YACSINumber])
REFERENCES [AirCrash] ([YACSINumber])
GO
ALTER TABLE [OLD_Photo] CHECK CONSTRAINT [FK__Photo__YACSINumb__52AE4273]
GO
ALTER TABLE [Photo]  WITH CHECK ADD  CONSTRAINT [FK__Photo__YACSINumb__52AE427E34] FOREIGN KEY([YACSINumber])
REFERENCES [AirCrash] ([YACSINumber])
GO
ALTER TABLE [Photo] CHECK CONSTRAINT [FK__Photo__YACSINumb__52AE427E34]
GO
ALTER TABLE [BoatOwner]  WITH CHECK ADD  CONSTRAINT [BoatId_FK] FOREIGN KEY([BoatID])
REFERENCES [Boat] ([Id])
GO
ALTER TABLE [BoatOwner] CHECK CONSTRAINT [BoatId_FK]
GO
ALTER TABLE [BoatOwner]  WITH CHECK ADD  CONSTRAINT [OwnerId_FK] FOREIGN KEY([OwnerID])
REFERENCES [Owner] ([Id])
GO
ALTER TABLE [BoatOwner] CHECK CONSTRAINT [OwnerId_FK]
GO
ALTER TABLE [OwnerAlias]  WITH CHECK ADD  CONSTRAINT [OwnerAlias_FK] FOREIGN KEY([OwnerId])
REFERENCES [Owner] ([Id])
GO
ALTER TABLE [OwnerAlias] CHECK CONSTRAINT [OwnerAlias_FK]
GO
ALTER TABLE [OwnerHistory]  WITH CHECK ADD  CONSTRAINT [OwnerHistory_FK] FOREIGN KEY([OwnerId])
REFERENCES [Owner] ([Id])
GO
ALTER TABLE [OwnerHistory] CHECK CONSTRAINT [OwnerHistory_FK]
GO
ALTER TABLE [PastNames]  WITH CHECK ADD  CONSTRAINT [BoadId_FK] FOREIGN KEY([BoatId])
REFERENCES [Boat] ([Id])
GO
ALTER TABLE [PastNames] CHECK CONSTRAINT [BoadId_FK]
GO
ALTER TABLE [Photo]  WITH CHECK ADD  CONSTRAINT [BoatPhoto_FK] FOREIGN KEY([BoatId])
REFERENCES [Boat] ([Id])
GO
ALTER TABLE [Photo] CHECK CONSTRAINT [BoatPhoto_FK]
GO
ALTER TABLE [Burial]  WITH CHECK ADD  CONSTRAINT [FK__Burial__CauseID__03E676AB] FOREIGN KEY([CauseID])
REFERENCES [CauseLookup] ([CauseLUpID])
GO
ALTER TABLE [Burial] CHECK CONSTRAINT [FK__Burial__CauseID__03E676AB]
GO
ALTER TABLE [Burial]  WITH CHECK ADD  CONSTRAINT [FK__Burial__Cemetary__02F25272] FOREIGN KEY([CemetaryID])
REFERENCES [CemetaryLookup] ([CemetaryLUpID])
GO
ALTER TABLE [Burial] CHECK CONSTRAINT [FK__Burial__Cemetary__02F25272]
GO
ALTER TABLE [Burial]  WITH CHECK ADD  CONSTRAINT [FK__Burial__Religion__04DA9AE4] FOREIGN KEY([ReligionID])
REFERENCES [ReligionLookup] ([ReligionLUpID])
GO
ALTER TABLE [Burial] CHECK CONSTRAINT [FK__Burial__Religion__04DA9AE4]
GO
ALTER TABLE [BurialBU]  WITH CHECK ADD  CONSTRAINT [FK__Burial__CauseID__47D18CA4] FOREIGN KEY([CauseID])
REFERENCES [CauseLookup] ([CauseLUpID])
GO
ALTER TABLE [BurialBU] CHECK CONSTRAINT [FK__Burial__CauseID__47D18CA4]
GO
ALTER TABLE [BurialBU]  WITH CHECK ADD  CONSTRAINT [FK__Burial__Cemetary__46DD686B] FOREIGN KEY([CemetaryID])
REFERENCES [CemetaryLookup] ([CemetaryLUpID])
GO
ALTER TABLE [BurialBU] CHECK CONSTRAINT [FK__Burial__Cemetary__46DD686B]
GO
ALTER TABLE [BurialBU]  WITH CHECK ADD  CONSTRAINT [FK__Burial__Religion__48C5B0DD] FOREIGN KEY([ReligionID])
REFERENCES [ReligionLookup] ([ReligionLUpID])
GO
ALTER TABLE [BurialBU] CHECK CONSTRAINT [FK__Burial__Religion__48C5B0DD]
GO
ALTER TABLE [Membership]  WITH CHECK ADD  CONSTRAINT [FK__Membershi__Buria__0015E5C7] FOREIGN KEY([BurialID])
REFERENCES [Burial] ([BurialID])
GO
ALTER TABLE [Membership] CHECK CONSTRAINT [FK__Membershi__Buria__0015E5C7]
GO
ALTER TABLE [Membership]  WITH CHECK ADD  CONSTRAINT [FK__Membershi__Membe__4E7E8A33] FOREIGN KEY([MembershipID])
REFERENCES [MembershipLookup] ([MembershipLUpID])
GO
ALTER TABLE [Membership] CHECK CONSTRAINT [FK__Membershi__Membe__4E7E8A33]
GO
ALTER TABLE [NOKin]  WITH CHECK ADD  CONSTRAINT [FK__NOKin__BurialID__7F21C18E] FOREIGN KEY([BurialID])
REFERENCES [Burial] ([BurialID])
GO
ALTER TABLE [NOKin] CHECK CONSTRAINT [FK__NOKin__BurialID__7F21C18E]
GO
ALTER TABLE [NOKin]  WITH CHECK ADD  CONSTRAINT [FK__NOKin__Relations__3F3C46A3] FOREIGN KEY([RelationshipID])
REFERENCES [RelationLookup] ([RelationLUpID])
GO
ALTER TABLE [NOKin] CHECK CONSTRAINT [FK__NOKin__Relations__3F3C46A3]
GO
ALTER TABLE [Occupation]  WITH CHECK ADD  CONSTRAINT [FK__Occupatio__Buria__7874C3FF] FOREIGN KEY([BurialID])
REFERENCES [Burial] ([BurialID])
GO
ALTER TABLE [Occupation] CHECK CONSTRAINT [FK__Occupatio__Buria__7874C3FF]
GO
ALTER TABLE [Occupation]  WITH CHECK ADD  CONSTRAINT [FK__Occupatio__Occup__4AADF94F] FOREIGN KEY([OccupationID])
REFERENCES [OccupationLookup] ([OccupationLupID])
GO
ALTER TABLE [Occupation] CHECK CONSTRAINT [FK__Occupatio__Occup__4AADF94F]
GO
ALTER TABLE [Photo]  WITH CHECK ADD  CONSTRAINT [FK__Photo__BurialID__7E2D9D55] FOREIGN KEY([BurialID])
REFERENCES [Burial] ([BurialID])
GO
ALTER TABLE [Photo] CHECK CONSTRAINT [FK__Photo__BurialID__7E2D9D55]
GO
ALTER TABLE [SiteVisit]  WITH CHECK ADD  CONSTRAINT [FK__SiteVisit__Buria__010A0A00] FOREIGN KEY([BurialID])
REFERENCES [Burial] ([BurialID])
GO
ALTER TABLE [SiteVisit] CHECK CONSTRAINT [FK__SiteVisit__Buria__010A0A00]
GO
ALTER TABLE [SiteVisit]  WITH CHECK ADD  CONSTRAINT [FK__SiteVisit__Buria__7A5D0C71] FOREIGN KEY([BurialID])
REFERENCES [Burial] ([BurialID])
GO
ALTER TABLE [SiteVisit] CHECK CONSTRAINT [FK__SiteVisit__Buria__7A5D0C71]
GO
ALTER TABLE [Source]  WITH CHECK ADD  CONSTRAINT [FK__Source__BurialID__01FE2E39] FOREIGN KEY([BurialID])
REFERENCES [Burial] ([BurialID])
GO
ALTER TABLE [Source] CHECK CONSTRAINT [FK__Source__BurialID__01FE2E39]
GO
ALTER TABLE [Source]  WITH CHECK ADD  CONSTRAINT [FK__Source__BurialID__7968E838] FOREIGN KEY([BurialID])
REFERENCES [Burial] ([BurialID])
GO
ALTER TABLE [Source] CHECK CONSTRAINT [FK__Source__BurialID__7968E838]
GO
ALTER TABLE [Photo]  WITH CHECK ADD  CONSTRAINT [FK__Photo__PlaceId__5090EFD7] FOREIGN KEY([PlaceId])
REFERENCES [Place] ([Id])
GO
ALTER TABLE [Photo] CHECK CONSTRAINT [FK__Photo__PlaceId__5090EFD7]
GO
ALTER TABLE [webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_RoleId] FOREIGN KEY([RoleId])
REFERENCES [webpages_Roles] ([RoleId])
GO
ALTER TABLE [webpages_UsersInRoles] CHECK CONSTRAINT [fk_RoleId]
GO
ALTER TABLE [webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_UserId] FOREIGN KEY([UserId])
REFERENCES [Ibbit_User] ([UserId])
GO
ALTER TABLE [webpages_UsersInRoles] CHECK CONSTRAINT [fk_UserId]
GO
ALTER TABLE [Actions]  WITH CHECK ADD  CONSTRAINT [FK__Actions__Complet__1E256B9B] FOREIGN KEY([SiteID])
REFERENCES [Sites] ([SiteID])
GO
ALTER TABLE [Actions] CHECK CONSTRAINT [FK__Actions__Complet__1E256B9B]
GO
ALTER TABLE [Assets]  WITH CHECK ADD  CONSTRAINT [FK__Assets__SiteID__149C0161] FOREIGN KEY([SiteID])
REFERENCES [Sites] ([SiteID])
GO
ALTER TABLE [Assets] CHECK CONSTRAINT [FK__Assets__SiteID__149C0161]
GO
ALTER TABLE [Documents]  WITH CHECK ADD  CONSTRAINT [FK__Documents__Inspe__22EA20B8] FOREIGN KEY([InspectID], [SiteID])
REFERENCES [Inspections] ([InspectID], [SiteID])
GO
ALTER TABLE [Documents] CHECK CONSTRAINT [FK__Documents__Inspe__22EA20B8]
GO
ALTER TABLE [Documents]  WITH CHECK ADD  CONSTRAINT [FK__Documents__SiteI__21F5FC7F] FOREIGN KEY([SiteID])
REFERENCES [Sites] ([SiteID])
GO
ALTER TABLE [Documents] CHECK CONSTRAINT [FK__Documents__SiteI__21F5FC7F]
GO
ALTER TABLE [Inspections]  WITH CHECK ADD  CONSTRAINT [FK__Inspectio__SiteI__1B48FEF0] FOREIGN KEY([SiteID])
REFERENCES [Sites] ([SiteID])
GO
ALTER TABLE [Inspections] CHECK CONSTRAINT [FK__Inspectio__SiteI__1B48FEF0]
GO
ALTER TABLE [Maintainer]  WITH CHECK ADD  CONSTRAINT [FK__Maintaine__SiteI__17786E0C] FOREIGN KEY([SiteID])
REFERENCES [Sites] ([SiteID])
GO
ALTER TABLE [Maintainer] CHECK CONSTRAINT [FK__Maintaine__SiteI__17786E0C]
GO
ALTER TABLE [Photos]  WITH CHECK ADD  CONSTRAINT [FK__Photos__SiteID__26BAB19C] FOREIGN KEY([SiteID])
REFERENCES [Sites] ([SiteID])
GO
ALTER TABLE [Photos] CHECK CONSTRAINT [FK__Photos__SiteID__26BAB19C]
GO
ALTER TABLE [Photo]  WITH CHECK ADD  CONSTRAINT [FK__Photo__PersonID__37C5420D] FOREIGN KEY([PersonID])
REFERENCES [Person] ([PersonID])
GO
ALTER TABLE [Photo] CHECK CONSTRAINT [FK__Photo__PersonID__37C5420D]
GO
ALTER TABLE [AlternateName]  WITH CHECK ADD  CONSTRAINT [FK__Alternate__Place__269AB60B] FOREIGN KEY([PlaceID])
REFERENCES [Place] ([Id])
GO
ALTER TABLE [AlternateName] CHECK CONSTRAINT [FK__Alternate__Place__269AB60B]
GO
ALTER TABLE [AlternateName]  WITH CHECK ADD  CONSTRAINT [FK__Alternate__Place__2CDD9F46] FOREIGN KEY([PlaceID])
REFERENCES [Place] ([Id])
GO
ALTER TABLE [AlternateName] CHECK CONSTRAINT [FK__Alternate__Place__2CDD9F46]
GO
ALTER TABLE [FirstNationName]  WITH CHECK ADD  CONSTRAINT [FK__FirstNati__Place__278EDA44] FOREIGN KEY([PlaceId])
REFERENCES [Place] ([Id])
GO
ALTER TABLE [FirstNationName] CHECK CONSTRAINT [FK__FirstNati__Place__278EDA44]
GO
ALTER TABLE [FirstNationName]  WITH CHECK ADD  CONSTRAINT [FK__FirstNati__Place__2DD1C37F] FOREIGN KEY([PlaceId])
REFERENCES [Place] ([Id])
GO
ALTER TABLE [FirstNationName] CHECK CONSTRAINT [FK__FirstNati__Place__2DD1C37F]
GO
ALTER TABLE [FNAssociation]  WITH CHECK ADD  CONSTRAINT [FK__FNAssocia__Place__2882FE7D] FOREIGN KEY([PlaceId])
REFERENCES [Place] ([Id])
GO
ALTER TABLE [FNAssociation] CHECK CONSTRAINT [FK__FNAssocia__Place__2882FE7D]
GO
ALTER TABLE [FNAssociation]  WITH CHECK ADD  CONSTRAINT [FK__FNAssocia__Place__2EC5E7B8] FOREIGN KEY([PlaceId])
REFERENCES [Place] ([Id])
GO
ALTER TABLE [FNAssociation] CHECK CONSTRAINT [FK__FNAssocia__Place__2EC5E7B8]
GO
ALTER TABLE [Photo]  WITH CHECK ADD  CONSTRAINT [FK__Photo__PlaceID__25A691D2] FOREIGN KEY([PlaceID])
REFERENCES [Place] ([Id])
GO
ALTER TABLE [Photo] CHECK CONSTRAINT [FK__Photo__PlaceID__25A691D2]
GO
ALTER TABLE [Photo]  WITH CHECK ADD  CONSTRAINT [FK__Photo__PlaceID__2BE97B0D] FOREIGN KEY([PlaceID])
REFERENCES [Place] ([Id])
GO
ALTER TABLE [Photo] CHECK CONSTRAINT [FK__Photo__PlaceID__2BE97B0D]
GO
ALTER TABLE [PlaceHistory]  WITH CHECK ADD  CONSTRAINT [FK__PlaceHist__Place__297722B6] FOREIGN KEY([PlaceId])
REFERENCES [Place] ([Id])
GO
ALTER TABLE [PlaceHistory] CHECK CONSTRAINT [FK__PlaceHist__Place__297722B6]
GO
ALTER TABLE [PlaceHistory]  WITH CHECK ADD  CONSTRAINT [FK__PlaceHist__Place__2FBA0BF1] FOREIGN KEY([PlaceId])
REFERENCES [Place] ([Id])
GO
ALTER TABLE [PlaceHistory] CHECK CONSTRAINT [FK__PlaceHist__Place__2FBA0BF1]
GO
ALTER TABLE [PlaceType]  WITH CHECK ADD  CONSTRAINT [FK__PlaceType__Place__2A6B46EF] FOREIGN KEY([PlaceId])
REFERENCES [Place] ([Id])
GO
ALTER TABLE [PlaceType] CHECK CONSTRAINT [FK__PlaceType__Place__2A6B46EF]
GO
ALTER TABLE [PlaceType]  WITH CHECK ADD  CONSTRAINT [FK__PlaceType__Place__2AF556D4] FOREIGN KEY([PlaceTypeLookupId])
REFERENCES [PlaceTypeLookup] ([Id])
GO
ALTER TABLE [PlaceType] CHECK CONSTRAINT [FK__PlaceType__Place__2AF556D4]
GO
ALTER TABLE [PlaceType]  WITH CHECK ADD  CONSTRAINT [FK__PlaceType__Place__30AE302A] FOREIGN KEY([PlaceId])
REFERENCES [Place] ([Id])
GO
ALTER TABLE [PlaceType] CHECK CONSTRAINT [FK__PlaceType__Place__30AE302A]
GO
ALTER TABLE [UserSiteAccess]  WITH CHECK ADD  CONSTRAINT [security_usersiteaccess_access_type_id_foreign] FOREIGN KEY([access_type_id])
REFERENCES [SiteAccessType] ([id])
GO
ALTER TABLE [UserSiteAccess] CHECK CONSTRAINT [security_usersiteaccess_access_type_id_foreign]
GO
ALTER TABLE [UserSiteAccess]  WITH CHECK ADD  CONSTRAINT [security_usersiteaccess_user_id_foreign] FOREIGN KEY([user_id])
REFERENCES [User] ([id])
GO
ALTER TABLE [UserSiteAccess] CHECK CONSTRAINT [security_usersiteaccess_user_id_foreign]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [GetAirCrash]

AS

    SELEct yacsinumber, crashdate, aircrafttype, aircraftregistration, nation, militarycivilian
         , crashlocation, remainsonsite, extentofremainsonsite, otherlocationsofremains, pilot, fatalities
         , descriptionofcrashevent, comments, significanceofaircraft, sources, photographs, inyukon, soulsonboard
         , injuries, accuracy, aircraftcaption, aircraftaftercrashcaption, location from AirCrash.AirCrash
GO
