//- template.pug

style
     include ../styles.css
    
table.title-row
  tbody 
    tr 
      td
        div Boat Owners information
      td
        img(style='width:200px; height:100px;' src="https://firebasestorage.googleapis.com/v0/b/yg-historic-sites.appspot.com/o/yukon.svg?alt=media&token=41e6cd68-0efd-438f-aef0-44bec1e15b55", alt="")

div.grid
  table.grid-table
    thead
      tr 
        td 
          strong.underline Owner Name
    tbody 
      each val in data
        tr 
          td #{val.OwnerName} 